{% extends "base2.html" %}
{% block title %} 表單輸入 {% endblock title %}
{% block headmessage %} 
<a style='font-family:微軟正黑體;' href='/'>回首頁</a>
{% endblock headmessage %} 

{% block content %} 

<form action="" method="post">
    {% csrf_token %}
    <label for="title">標題:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="title">類別:</label><br>
    <input type="checkbox" id="tech" name="category" value="PIYAN"></input>
    <label for="tech">屁眼</label>
    <input type="checkbox" id="mood" name="category" value="屁眼"></input>
    <label for="mood">py</label>
    <input type="checkbox" id="life" name="category" value="HDDPY">HDDPY</input>
    <label for="life">HDDPY</label>
    <input type="checkbox" id="edu" name="category" value="another">其他</input>
    <label for="edu">其他</label>
    <br>

    <label for="slug">slug:</label><br>
    <input type="text" id="slug" name="slug"><br>
    
    <label for="content">內文:</label><br>
    <textarea id="content" name="content" cols="30"></textarea>
    
    <input type="submit" value="送出">
</form>

{% endblock content %}
